.cell {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}
#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 2px solid black;
  height: fit-content;
  width: fit-content;
}
#reset {
  height: 30px;
  width: 300px;
  margin: 0px 0px 0px 10px;
  cursor: pointer;
}
